<footer class="footer-section" id="footer">
  <div class="container footer-cont">
    <div class="footer-wrapper">
      <a href="#top" class="footer-logo"
        >Lloyd<span class="footer-logo-span">Jefferson.</span></a
      >
      <ul class="footer-list">
        <li class="footer-list-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
            class="footer-social-links"
            >Instagram</a
          >
        </li>
        <li class="footer-list-item">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            class="footer-social-links"
            >Facebook</a
          >
        </li>
        <li class="footer-list-item">
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank"
            rel="noopener noreferrer"
            class="footer-social-links"
            >Linkedin</a
          >
        </li>
        <li class="footer-list-item">
          <a
            href="https://github.com/dvankevich/project-brainstorm-02"
            target="_blank"
            rel="noopener noreferrer"
            class="footer-social-links"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <p class="footer-adress">&#169; Copyright 2024. Made by LloydJefferson</p>
  </div>
</footer>
