<header class="header">
  <div class="header-section container" id="header">
    <a class="header-logo" href="#top">Lloyd<span class="header-logo-tech">Jefferson.</span></a>
    <nav class="header-navigation">
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="#about-me">About me</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#my-projects">Projects</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#work-together">Contacts</a>
        </li>
      </ul>
    </nav>

    <button class="header-btn" type="button">
      <svg class="header-btn-icon" width="32" height="32">
        <use href="/img/sprite.svg#burger"></use>
      </svg>
    </button>

  </div>
</header>

<!-- Mobile menu -->

<div class="header-mobile-menu-container">
  <div class="header-mobile-menu">
    <div class="header-logo-container">
      <a class="header-logo" href="#top">Lloyd<span class="header-logo-tech">Jefferson.</span></a>
    </div>
    <button class="header-mobile-menu-close">
      <svg width="32" height="32" class="header-mobile-menu-close-icon">
        <use href="/img/sprite.svg#x"></use>
      </svg>
    </button>

    <nav class="header-mobile-navigation">
      <ul class="header-mobile-list">
        <li class="header-mobile-item">
          <a class="header-mobile-link" href="#about-me">About me</a>
        </li>
        <li class="header-mobile-item">
          <a class="header-mobile-link" href="#my-projects">Projects</a>
        </li>
        <li class="header-mobile-item">
          <a class="header-mobile-link" href="#work-together">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</div>