<section class="hero-section" id="hero">
  <div class="container hero-container">
    <div class="hero-wrapper-top">
      <h1 class="hero-title">
        Hello, I am
        <span class="hero-title-img"><a href="#"><img class="hero-image" src="./img/hero/heroman.webp" alt="developer"
              srcset="
                /img/hero/heroman.webp 1x,
                /img/hero/heroman.webp 2x
              " /></a></span><span class="hero-title-span">Fullstack developer</span>
      </h1>
    </div>
    <div class="hero-wrapper-down">
      <a href="#work-together" class="wrapper-order">
        <svg width="30" height="16" class="hero-arrow">
          <use href="/img/sprite.svg#order-arrow" />
        </svg>
        <p class="hero-order-text">Order the project</p>
      </a>
      <div class="hero-descr-wrapper">
        <p class="hero-descr">
          I work with people all over the world to create
          <span class="hero-descr-span">impressive</span> and
          <span class="hero-descr-span">functional websites</span> that reflect
          each client’s unique personality.
        </p>
      </div>
    </div>
    <div class="hero-wrapper-container-list">
      <ul class="hero-list">
        <li class="hero-list-item">
          <a class="hero-link" href="https://www.instagram.com/goitclub/" target="_blank"
            rel="noopener noreferrer">Instagram</a>
        </li>
        <li class="hero-list-item">
          <a class="hero-link" href="https://www.facebook.com/goITclub/" target="_blank"
            rel="noopener noreferrer">Facebook</a>
        </li>
        <li class="hero-list-item">
          <a class="hero-link" href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank"
            rel="noopener noreferrer">Linkedin</a>
        </li>
        <li class="hero-list-item">
          <a class="hero-link" href="https://github.com/dvankevich/project-brainstorm-02" target="_blank"
            rel="noopener noreferrer">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</section>