<section class="hero-section container" id="hero">
  <div class="hero-wrapper">
    <div class="hero-img-wrap">
      <h1 class="hero-title">Hello, I am <span class="hero-title-span">Fullstack developer</span></h1>
      <img class="hero-dev-img" src="/img/hero/imgDevelop-min.png" alt="developer" width="592" height="444">
    </div>
<div class="hero-wrapper-text">
  <div class="hero-svg-link">
    <svg class="hero-icon" width="30" height="16" viewBox="0 0 30 16">
      <use href="./img/sprite.svg#arrow-right"></use>
    </svg>
    <a class="hero-order-link" href="#work-together">Order the project</a>

  </div>
  
  <p class="hero-text">I work with people all over the world to create <span class="hero-text-span">impressive</span> and
    <span class="hero-text-span">functional websites</span> that reflect each client’s unique
    personality.
  </p>

</div>

<div class="hero-cover">
  <ul class="hero-list">
    <li><a class="hero-link" href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a></li>
    <li><a class="hero-link" href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a></li>
    <li><a class="hero-link" href="https://www.linkedin.com/school/goit-start-your-career-in-it"
        target="_blank">Linkedin</a></li>
    <li><a class="hero-link" href="https://github.com/dvankevich/project-brainstorm-02" target="_blank">GitHub</a></li>
  </ul>
</div>
  </div>
  
    
  
  
</section>