<section class="hero-section container" id="hero">
  <h1 class="hero-title">Hello, I am <span class="hero-title-span">Fullstack developer</span></h1>
  <svg class="hero-icon" width="30" height="16"  viewBox="0 0 30 16">
    <use href="./img/sprite.svg#arrow-right"></use>
  </svg>
  <a class="hero-order-link" href="">Order the project</a>
  <p class="hero-text">I work with people all over the world to create <span class="hero-text-span">impressive</span> and <span class="hero-text-span">functional websites</span> that reflect each client’s unique
  personality.</p>
  <div class="hero-cover">
    <ul class="hero-list">
      <a class="hero-link" href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
      <a class="hero-link" href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
      <a class="hero-link" href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank">Linkedin</a>
      <a class="hero-link" href="https://github.com/dvankevich/project-brainstorm-02" target="_blank">GitHub</a>
    </ul>
  </div>
  
</section>