<section class="section" id="my-projects">
  <div class="container">
    <h2 class="mp-header">my <span class="mp-span">projects</span></h2>
    <ul class="mp-list">
      <li class="mp-list-item">
        <img class="mp-image" srcset="/img/my-projects/project-9.webp 1x, /img/my-projects/project-9@2x.webp 2x"
          src="/img/my-projects/project-9-min.png" loading="lazy" alt="site project image" />
        <p class="mp-skills">React, JavaScript, Node JS, Git</p>
        <h3 class="mp-name">Wallet webservice</h3>
        <a class="mp-visit-link" href="">
          VISIT
          <svg class="mp-visit-icon">
            <use href="../img/sprite.svg#visit-arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>