<section class="section" id="my-projects">
  <div class="container">
    <h2 class="mp-header">my <span class="mp-span">projects</span></h2>
    <ul class="mp-list">
      <li class="mp-list-item">
        <img class="mp-image" srcset="/img/my-projects/project-9.webp 1x, /img/my-projects/project-9@2x.webp 2x"
          src="/img/my-projects/project-9-min.png" loading="lazy" alt="site project image" />
        <p class="mp-skills">React, JavaScript, Node JS, Git</p>
        <div class="mp-card-wrapper">
          <h3 class="mp-name">Wallet webservice</h3>
          <div class="mp-visit-wrapper">
            <a class="mp-visit-link" href="https://dvankevich.github.io/project-brainstorm-02/" target="_blank"
              rel="noopener noreferrer">
              VISIT
              <svg class="mp-visit-icon">
                <use href="/img/sprite.svg#visit-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="mp-list-item">
        <img class="mp-image" srcset="/img/my-projects/project-7.webp 1x, /img/my-projects/project-7@2x.webp 2x"
          src="/img/my-projects/project-7-min.png" loading="lazy" alt="site project image" />
        <p class="mp-skills">React, JavaScript, Node JS, Git</p>
        <div class="mp-card-wrapper">
          <h3 class="mp-name">Green harvest webservice</h3>
          <div class="mp-visit-wrapper">
            <a class="mp-visit-link" href="https://dvankevich.github.io/project-brainstorm-02/" target="_blank"
              rel="noopener noreferrer">
              VISIT
              <svg class="mp-visit-icon">
                <use href="/img/sprite.svg#visit-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="mp-list-item">
        <img class="mp-image" srcset="/img/my-projects/project-10.webp 1x, /img/my-projects/project-10@2x.webp 2x"
          src="/img/my-projects/project-10-min.png" loading="lazy" alt="site project image" />
        <p class="mp-skills">React, JavaScript, Node JS, Git</p>
        <div class="mp-card-wrapper">
          <h3 class="mp-name">English Exellence webservice</h3>
          <div class="mp-visit-wrapper">
            <a class="mp-visit-link" href="https://dvankevich.github.io/project-brainstorm-02/" target="_blank"
              rel="noopener noreferrer">
              VISIT
              <svg class="mp-visit-icon">
                <use href="/img/sprite.svg#visit-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="mp-list-item visually-hidden">
        <img class="mp-image" srcset="/img/my-projects/project-1.webp 1x, /img/my-projects/project-1@2x.webp 2x"
          src="/img/my-projects/project-1-min.png" loading="lazy" alt="site project image" />
        <p class="mp-skills">React, JavaScript, Node JS, Git</p>
        <div class="mp-card-wrapper">
          <h3 class="mp-name">online business webservice</h3>
          <div class="mp-visit-wrapper">
            <a class="mp-visit-link" href="https://dvankevich.github.io/project-brainstorm-02/" target="_blank"
              rel="noopener noreferrer">
              VISIT
              <svg class="mp-visit-icon">
                <use href="/img/sprite.svg#visit-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="mp-list-item visually-hidden">
        <img class="mp-image" srcset="/img/my-projects/project-2.webp 1x, /img/my-projects/project-2@2x.webp 2x"
          src="/img/my-projects/project-2-min.png" loading="lazy" alt="site project image" />
        <p class="mp-skills">React, JavaScript, Node JS, Git</p>
        <div class="mp-card-wrapper">
          <h3 class="mp-name">health webservice</h3>
          <div class="mp-visit-wrapper">
            <a class="mp-visit-link" href="https://dvankevich.github.io/project-brainstorm-02/" target="_blank"
              rel="noopener noreferrer">
              VISIT
              <svg class="mp-visit-icon">
                <use href="/img/sprite.svg#visit-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="mp-list-item visually-hidden">
        <img class="mp-image" srcset="/img/my-projects/project-3.webp 1x, /img/my-projects/project-3@2x.webp 2x"
          src="/img/my-projects/project-3-min.png" loading="lazy" alt="site project image" />
        <p class="mp-skills">React, JavaScript, Node JS, Git</p>
        <div class="mp-card-wrapper">
          <h3 class="mp-name">organic product webservice</h3>
          <div class="mp-visit-wrapper">
            <a class="mp-visit-link" href="https://dvankevich.github.io/project-brainstorm-02/" target="_blank"
              rel="noopener noreferrer">
              VISIT
              <svg class="mp-visit-icon">
                <use href="/img/sprite.svg#visit-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="mp-list-item visually-hidden">
        <img class="mp-image" srcset="/img/my-projects/project-4.webp 1x, /img/my-projects/project-4@2x.webp 2x"
          src="/img/my-projects/project-4-min.png" loading="lazy" alt="site project image" />
        <p class="mp-skills">React, JavaScript, Node JS, Git</p>
        <div class="mp-card-wrapper">
          <h3 class="mp-name">cosmetic shop webservice</h3>
          <div class="mp-visit-wrapper">
            <a class="mp-visit-link" href="https://dvankevich.github.io/project-brainstorm-02/" target="_blank"
              rel="noopener noreferrer">
              VISIT
              <svg class="mp-visit-icon">
                <use href="/img/sprite.svg#visit-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="mp-list-item visually-hidden">
        <img class="mp-image" srcset="/img/my-projects/project-5.webp 1x, /img/my-projects/project-5@2x.webp 2x"
          src="/img/my-projects/project-5-min.png" loading="lazy" alt="site project image" />
        <p class="mp-skills">React, JavaScript, Node JS, Git</p>
        <div class="mp-card-wrapper">
          <h3 class="mp-name">mimino restaraunt</h3>
          <div class="mp-visit-wrapper">
            <a class="mp-visit-link" href="https://dvankevich.github.io/project-brainstorm-02/" target="_blank"
              rel="noopener noreferrer">
              VISIT
              <svg class="mp-visit-icon">
                <use href="/img/sprite.svg#visit-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="mp-list-item visually-hidden">
        <img class="mp-image" srcset="/img/my-projects/project-6.webp 1x, /img/my-projects/project-6@2x.webp 2x"
          src="/img/my-projects/project-6-min.png" loading="lazy" alt="site project image" />
        <p class="mp-skills">React, JavaScript, Node JS, Git</p>
        <div class="mp-card-wrapper">
          <h3 class="mp-name">online clothing store</h3>
          <div class="mp-visit-wrapper">
            <a class="mp-visit-link" href="https://dvankevich.github.io/project-brainstorm-02/" target="_blank"
              rel="noopener noreferrer">
              VISIT
              <svg class="mp-visit-icon">
                <use href="/img/sprite.svg#visit-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="mp-list-item visually-hidden">
        <img class="mp-image" srcset="/img/my-projects/project-8.webp 1x, /img/my-projects/project-8@2x.webp 2x"
          src="/img/my-projects/project-8-min.png" loading="lazy" alt="site project image" />
        <p class="mp-skills">React, JavaScript, Node JS, Git</p>
        <div class="mp-card-wrapper">
          <h3 class="mp-name">organic food webstore</h3>
          <div class="mp-visit-wrapper">
            <a class="mp-visit-link" href="https://dvankevich.github.io/project-brainstorm-02/" target="_blank"
              rel="noopener noreferrer">
              VISIT
              <svg class="mp-visit-icon">
                <use href="/img/sprite.svg#visit-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

    </ul>
    <div class="mp-button-wrapper">
      <button type="button" class="mp-load-more-button">Load More</button>
    </div>
  </div>
</section>