<section class="section swiper" id="reviews">
  <div class="container">
    <h2 class="reviews-title">reviews</h2>

    <!-- Swiper Wrapper -->
    <ul class="reviews-wrapper swiper-wrapper">
      <li class="reviews-wrapper-cart swiper-slide">
        <p class="reviews-descr">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations.
        </p>
        <div class="reviews-autor-wrapper">
          <img
            class="reviews-autor-photo"
            width="40"
            height="40"
            src="../img/reviews/Featuredcon.png"
            alt="autor"
            srcset=""
          />
          <p class="reviews-autor-name">Natalia Shevchenko</p>
        </div>
      </li>
      <li class="reviews-wrapper-cart swiper-slide">
        <p class="reviews-descr">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations.
        </p>
        <div class="reviews-autor-wrapper">
          <img
            class="reviews-autor-photo"
            width="40"
            height="40"
            src="../img/reviews/Featuredcon.png"
            alt="autor"
            srcset=""
          />
          <p class="reviews-autor-name">Natalia Shevchenko</p>
        </div>
      </li>
      <li class="reviews-wrapper-cart swiper-slide">
        <p class="reviews-descr">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations.
        </p>
        <div class="reviews-autor-wrapper">
          <img
            class="reviews-autor-photo"
            width="40"
            height="40"
            src="../img/reviews/Featuredcon.png"
            alt="autor"
            srcset=""
          />
          <p class="reviews-autor-name">Natalia Shevchenko</p>
        </div>
      </li>
    </ul>

    <!-- Swiper Arrows -->
    <div class="reviews-arrows">
      <button class="swiper-button-prev reviews-arrow-box-left" disabled>
        <svg width="24" height="24" class="reviews-arrow-left">
          <use href="/img/sprite.svg#arrow-left" />
        </svg>
      </button>
      <button class="swiper-button-next reviews-arrow-box-right">
        <svg width="24" height="24" class="reviews-arrow-right">
          <use href="/img/sprite.svg#arrow-right" />
        </svg>
      </button>
    </div>

    <!-- Swiper Pagination (if needed) -->
    <div class="swiper-pagination"></div>
  </div>
</section>
