<section class="reviews-section">
    <h2>REVIEWS</h2>
    <div class="swiper-container">
        <ul class="swiper-wrapper">
            <li class="swiper-slide review-card">
                <p>Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations.</p>
                <div class="review-author">
                    <img src="/src/img/reviews/natali.webp" alt="Author image">
                    <div class="author-info">
                        <h3>Natalia Shevchenko</h3>
                    </div>
                </div>
            </li>
            <li class="swiper-slide review-card">
                <p>I have the honor to recommend him as an exceptional professional in his field. His knowledge and expertise are undeniable. Cooperation with him always brings impressive results.</p>
                <div class="review-author">
                    <img src="/src/img/reviews/dmytro.webp" alt="Author image">
                    <div class="author-info">
                        <h3>Dmytro Nazarenko</h3>
                    </div>
                </div>
            </li>
        </ul>
        <!-- Navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>
