<section class="tech-skills-section section" id="tech-skills">
  <h2 class="visually-hidden">tech-skills</h2>

  <!-- First line -->
  <div class="marquee">
    <div class="marquee__inner">
      <p class="marquee__line">
        <span class="marquee__square__2"></span> JAVASCRIPT
        <span class="marquee__square__2"></span> REACT
        <span class="marquee__square__2"></span> NODE.JS
        <span class="marquee__square__2"></span> REACT NATIVE
        <span class="marquee__square__2"></span> HTML/CSS
        <span class="marquee__square__2"></span> JAVASCRIPT
        <!-- Repeat for continuous loop -->
        <span class="marquee__square__2"></span> JAVASCRIPT
        <span class="marquee__square__2"></span> REACT
        <span class="marquee__square__2"></span> NODE.JS
        <span class="marquee__square__2"></span> REACT NATIVE
        <span class="marquee__square__2"></span> HTML/CSS
        <span class="marquee__square__2"></span> JAVASCRIPT
      </p>
    </div>
  </div>

  <!-- Second line -->
  <div class="m_rotate">
    <div class="marquee_class">
      <div class="marquee__inner__2">
        <p class="marquee__line">
          <span class="marquee__square"></span> HTML/CSS
          <span class="marquee__square"></span> JAVASCRIPT
          <span class="marquee__square"></span> REACT
          <span class="marquee__square"></span> NODE.JS
          <span class="marquee__square"></span> REACT NATIVE
          <span class="marquee__square"></span> HTML/CSS
          <!-- Repeat for continuous loop -->
          <span class="marquee__square"></span> HTML/CSS
          <span class="marquee__square"></span> JAVASCRIPT
          <span class="marquee__square"></span> REACT
          <span class="marquee__square"></span> NODE.JS
          <span class="marquee__square"></span> REACT NATIVE
          <span class="marquee__square"></span> HTML/CSS
        </p>
      </div>
    </div>
  </div>
</section>
