<section class="tech-skills-section container" id="tech-skills">

  <!-- First line -->
  
<div class="marquee">
  <div class="marquee__inner">
    <p class="marquee__line"><span class="square"></span> HTML/CSS <span class="square"></span> JAVASCRIPT
    <span class="square"></span> REACT <span class="square"></span> NODE.JS <span class="square"></span> REACT NATIVE <span class="square"></span></p>
    <p class="marquee__line"><span class="square"></span> HTML/CSS <span class="square"></span> JAVASCRIPT <span class="square"></span> REACT <span class="square"></span> NODE.JS <span class="square"></span> REACT NATIVE <span class="square"></span></p>
  </div>
</div>



<!-- Second line -->

<div class="m_rotate">
  <div class="marquee_class">
    <div class="marquee__inner">
      <p class="marquee__line"><span class="marquee__square"></span> HTML/CSS <span class="marquee__square"></span>
        JAVASCRIPT
        <span class="marquee__square"></span> REACT <span class="marquee__square"></span> NODE.JS <span
          class="marquee__square"></span> REACT NATIVE <span class="marquee__square"></span>
      </p>
      <p class="marquee__line"><span class="marquee__square"></span> HTML/CSS <span class="marquee__square"></span>
        JAVASCRIPT <span class="marquee__square"></span> REACT <span class="marquee__square"></span> NODE.JS <span
          class="marquee__square"></span> REACT NATIVE <span class="marquee__square"></span></p>
    </div>
  </div>
</div>
</section>
