<section class="tech-skills-section container" id="tech-skills">
  <h2>tech-skills</h2>
</section>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<div class="marquee">
  <div class="marquee__inner">
    <p class="marquee__line"><span class="square"></span> HTML/CSS <span class="square"></span> JAVASCRIPT
<span class="square"></span> REACT <span class="square"></span> NODE.JS <span class="square"></span> REACT NATIVE <span class="square"></span></p>
    <p class="marquee__line"><span class="square"></span> HTML/CSS <span class="square"></span> JAVASCRIPT <span class="square"></span> REACT <span class="square"></span> NODE.JS <span class="square"></span> REACT NATIVE <span class="square"></span></p>
  </div>
</div>
