<section class="work-together section" id="work-together">
  <div class="container">
    <h2 class="title-work-together">
      LET'S <span class="tech-work-together">WORK TOGETHER</span>
    </h2>
    <p class="text-work-together">
      Contact me to transform your ideas into exceptional solutions.
    </p>
    <ul class="list-work-together">
      <!-- <svg class="icon-contacts" width="24px" height="24px">
        <use href=""></use>
      </svg> -->
      <li class="item-work-together">
        <a class="link-work-together" href="+380904567890">+38 090 456 78 90</a>
      </li>
      <!-- <svg class="icon-contacts" width="24px" height="24px">
        <use href=""></use>
      </svg> -->
      <li class="item-work-together">
        <a class="link-work-together" href="lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
      <!-- <svg class="icon-contacts" width="24px" height="24px">
        <use href=""></use>
      </svg> -->
      <li class="item-work-together">
        <a class="link-work-together" href="USA, New York">USA, New York</a>
      </li>
    </ul>
    <form id="form" class="contact-form">
      <input
        class="contact-imput"
        type="email"
        name="email"
        id="email"
        placeholder="Your email*"
        required
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
      />
      <textarea
        class="contact-text"
        id="message"
        name="message"
        placeholder="Message"
        required
      ></textarea>
      <button class="send-btn" type="submit">SEND MESSAGE</button>
    </form>
  </div>
</section>
<div id="modal" class="modal-window">
  <div class="modal-content">
    <h2 class="modal-title">Thank you for your interest in cooperation!</h2>

    <p class="modal-text">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </div>
</div>
