@media screen and (min-width: 320px) {
  .aboutme-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 52px;
    line-height: 1.23077;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: start;
    margin-bottom: 40px;
    color: var(--black);
  }
  .aboutme-title > span {
    color: var(--accet-green);
  }
  .aboutme-img-container {
  }
  .aboutme-img {
    display: block;
    border-radius: 16px;
    width: 320px;
    margin-bottom: 40px;
  }
  .aboutme-bio-container {
    width: 320px;
    margin-bottom: 40px;
  }

  .aboutme-bio-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 32px;
  }

  .aboutme-bio-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--black);
    margin-bottom: 24px;
  }

  .edc-role-container {
    margin-bottom: 80px;
  }
  .edc-role-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 32px;
  }

  .edc-role-list {
    margin-bottom: 40px;
  }
  .edc-role-item {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--black);
  }
  .edc-role-item::before {
    content: '';
    display: inline-block;
    background: var(--accet-green);
    transform: rotate(-180deg);
    border-radius: 1px;
    width: 4px;
    height: 4px;
    margin-right: 14px;
    vertical-align: middle;
  }
}

@media screen and (min-width: 768px) {
  .aboutme-title {
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
  }

  .img-bio-container {
    display: flex;
    justify-content: space-between;
    align-items: start;

    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-image: url(/img/background-img/decor-bg-2.webp);
    background-repeat: no-repeat;
    background-size: 336px 252px;
    background-position: right bottom;
  }

  .aboutme-bio-container {
    display: flex;
    flex-direction: column;
    width: 336px;
  }
  .aboutme-bio-title {
    font-size: 36px;
    line-height: 1.33333;
    letter-spacing: 0.01em;
  }

  .aboutme-img-container {
    position: relative;
    flex-shrink: 0;
  }
  .aboutme-img {
    width: 336px;
    margin-bottom: 60px;
    padding-top: 408px;
  }
  .edc-role-container {
    width: 704px;
    height: 280px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 124px;
  }
  .edc-role-title {
    font-size: 36px;
    line-height: 1.33333;
    letter-spacing: 0.01em;
  }
  .edc-role-list {
    width: 336px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .aboutme-bio-container {
    flex: none;
    width: 488px;
  }

  .img-bio-container {
    background-size: 394px 297px;
  }

  .aboutme-img-container {
    margin-left: 208px;
    margin-bottom: 80px;
  }
  .aboutme-img {
    width: 384px;
    padding-top: 312px;
  }
  .edc-role-container {
    margin-bottom: 164px;
    display: flex;
    flex-direction: row;
    width: 904px;
    height: 280px;
    gap: 136px;
    margin-left: 208px;
  }

  .edc-role-list {
    width: 384px;
    height: 200px;
  }
}
