.benefits-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 52px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-dark);
    margin-bottom: 40px;
    max-width: 320px;
    text-shadow: 10px 5px 6px rgba(0, 0, 0, 0.308);
}

.benefits-title-color {
    color: var(--accet-green);
}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.benefits-list-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.benefits-icon {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    stroke: var(--accet-green);
    background-color: var(--light-accent);
    padding: 12px;
}

.benefits-list-item-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-dark);
}

.benefits-list-item-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--text-dark);
    max-width: 320px;
}

@media screen and (min-width: 768px) {
    .benefits-title {
        font-size: 108px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        max-width: 704px;
        margin-bottom: 0;
    }
    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .benefits-list-item:first-child {
        margin-left: 368px;
    }
    .benefits-list-item-title {
        font-size: 20px;
        line-height: 1.6;
    }
    .benefits-list-item-text {
        max-width: 336px;
    }
}

@media screen and (min-width: 1280px) {
    .benefits-section {
        padding-top: 0;
    }
    .benefits-title {
        min-width: 690px;
        padding-top: 116px;
        padding-bottom: 304px;
    }
    .benefits-container {
        position: relative;
        background-image: url(../img/background-img/decor-bg-3.webp);
        background-repeat: no-repeat;
        background-size: 526px 408px;
        background-position: bottom 384px right 32px;
    }
        @media (min-resolution: 192dpi) {
            .benefits-container {
                background-image: url(../img/background-img/decor-bg-3-desk-2x.webp);
            }
        }
    .benefits-list-item-text {
        max-width: 384px;
    }
    .benefits-list {
        position: absolute;
        top: 392px;
    }
        .benefits-list-item:first-child {
            margin-left: 832px;
        }
}