:root {
  --black: #292929;
  --accet-green: #00b068;
  --white: #f0f0f0;
  --light-grey: #e4e5e6;
  --hover-grey: #bbb;
  --light-accent: #bcdfd1;
  --hover: #009156;
  --black-dt: #1e2023;
  --accet-green-dt: #14c57c;
  --white-dt: #f0f0f0;
  --charcoal-dt: #2a2d32;
  --hover-charcoal-dt: #3b3f45;
  --dark-accet-dt: #204136;
  --hover-green-dt: #009156;
  --error: #e74a3b;
}

:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Impact", sans-serif;
}

/* common styles - загальні стилі */

body {
  background: var(--white);
  font-family: var(--font-family);
  color: var(--black);
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* mobile */
.container {
  max-width: 360px;
  /* min-width: 320px; */
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  padding: 40px 0;
}


/* tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .section {
    padding: 62px 0;
  }

}

/* desktop */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .section {
    padding: 82px 0;
  }
}