/* common styles - загальні стилі */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* mobile */
.container {}

/* tablet */
@media only screen and (min-width: 768px) {
  .container {}
}

/* desktop */
@media only screen and (min-width: 1280px) {
  .container {}
}