/* .faq-title {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #292929;
    width: 520px;
}

.faq-title span {
    color: #00b068;
} */

.faq-title {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.23077;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
    width: 320px;
    margin-bottom: 40px;
}

/* .faq-title::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.ac.is-active>.ac-header .ac-trigger::after {
    transform: translateY(-50%) rotate(-135deg);
    border-right: 2px solid black;
    border-bottom: 2px solid black;
} */

.faq-title span {
    color: #00b068;
}

.faq-list {
    width: 320px;
}

.faq-list-item {
    padding: 28px 24px;
}

.faq-list-item-title button {
    margin-bottom: 24px;
    padding: 0;
}

.ac .ac-trigger {
    display: flex !important;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
}

.faq-list-item-title {
    width: 224px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
    display: block;

}

.faq-list-item-text {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;
}

.faq-icon-non-visible {
    display: inline-block;
    width: 32px;
    height: 32px;
    stroke: #292929;
    fill: transparent;
}

/* .faq-icon-down {
    width: 32px;
    height: 32px;
    stroke: #292929;
    fill: #292929;
    display: inline-block;
    vertical-align: middle;
}

.ac.is-active .faq-icon-down {
    transform: rotate(180deg);
} */

.faq-icon-down {
    width: 32px;
    height: 32px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    padding-left: 9px;
    padding-right: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: #292929;
    fill: #292929;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ac.is-active .faq-icon-down {
    transform: scaleY(-1);
}