:root {
    --background: var(--white-dt);
    --text-color: var(--black);

    --bg-dark: var(--black-dt);
    --text-dark: var(--black);
    --bg-light: var(--white-dt);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--bg-dark);
        --text-color: var(--text-light);
    }
}

body {
    background-color: var(--background);
    color: var(--text-color);
}

body.dark {
    --background: var(--bg-dark);
    --text-color: var(--text-light);
    --text-dark: var(--text-light);
    --mobile-menu-light: var(--black-dt);
    --light-grey: var(--charcoal-dt);
    --light-accent: var(--dark-accet-dt);
}

body.light {
    --background: var(--bg-light);
    --text-color: var(--text-dark);
}

.fa-message:after {
    content: '';
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: 0;
    right: 1rem;
    background-color: rgb(191, 86, 65);
    animation-name: fade-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@keyframes fade-in-out {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.switch_container {
    display: flex;
}

#switch {
    display: none;
}

.label {
    position: relative;
    height: 24px;
    width: 48px;
    background-color: #e4e5e6;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    overflow: hidden;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    left: 6px;
}

.label:hover {
    cursor: pointer;
}

#switch:checked+.label {
    background-color: #2a2d32;
}

.label::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background-color: #00b068;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.8s ease;
    -webkit-transition: 0.8s ease;
    -moz-transition: 0.8s ease;
    -ms-transition: 0.8s ease;
    -o-transition: 0.8s ease;
}

.fa-sun,
.fa-moon {
    font-size: 1.3rem;
    position: absolute;
}

.fa-sun {
    top: 12%;
    left: -31%;
}

.fa-moon {
    top: 9%;
    right: 9%;
}

#switch:checked+.label::before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
    width: 20px;
    height: 20px;
    top: 2px;
    bottom: 2px;
    left: 0px;
    right: 4px;
    background-repeat: no-repeat;
    background-position: center;
}

#switch:checked+.label .fa-sun {
    left: 11%;
}

#switch:checked+.label .fa-moon {
    right: -24%;
}

#switch:active+.label::before {
    width: 35px;
}

.header {
    width: 100%;
    height: 64px;
    padding-top: 16px;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-dark);
}

.header-logo-tech {
    color: var(--accet-green);
}

.header-list {
    display: none;
}

.header-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
}

.header-btn-icon {
    stroke: var(--text-dark);
}

.header-mobile-logo {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-dark);
}

.header-mobile-logo-tech {
    color: var(--accet-green);
}


@media screen and (min-width: 768px) {
    .header {
        padding-top: 25px;
    }

    .header-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 75px;
    }

    .header-logo {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 32px;
        line-height: 1;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--text-dark);
    }

    .header-logo-tech {
        color: var(--accet-green);
    }

    .label {
        left: 60px;
    }

    .header-list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 20px;
    }

    .header-link {
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: var(--text-dark);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .header-link:hover,
    .header-link:focus {
        color: var(--accet-green);
    }

    .header-btn {
        display: none;
    }

    .header-btn-icon {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .header {
        padding-top: 25px;
    }

    .header-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 315px;
    }

    .header-logo {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 32px;
        line-height: 1;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--text-dark);
    }

    .header-logo-tech {
        color: var(--accet-green);
    }

    .label {
        left: 260px;
    }

    .header-list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 38px;
    }

    .header-link {
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: var(--text-dark);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        justify-content: flex-start;
    }

    .header-link:hover,
    .header-link:focus {
        color: var(--accet-green);
    }

    .header-btn {
        display: none;
    }

    .header-btn-icon {
        display: none;
    }
}

/* Mobile menu */

.header-mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 47, 66, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.header-mobile-menu-container.is-open {
    display: flex;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header-mobile-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: var(--mobile-menu-light);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 20px;
}

.header-mobile-menu-close {
    position: absolute;
    top: 16px;
    right: 34px;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    stroke: var(--text-dark);
    background: none;
}

.header-mobile-navigation {
    padding-top: 200px;
    animation: burgerAnimation 0.4s;
}

@keyframes burgerAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header-mobile-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}

.header-mobile-link {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--text-dark);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mobile-link:hover,
.header-mobile-link:focus {
    color: var(--accet-green);
}

.header-mobile-menu {
    background-image: url(../img/background-img/decor-bg-1mob.webp);
    background-repeat: no-repeat;
    background-size: 320px 704px;
}