.hero-title-img {
  display: none;
}

.hero-section {
  padding-bottom: 40px;
}

.hero-container {
  padding-top: 112px;
  background-image: url('/img/hero/decor-mobile.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .hero-container {
    background-image: url('/img/hero/decor-mobile@2x.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }
}

.hero-wrapper-top {
  margin-bottom: 72px;
}

.hero-wrapper-down {
  margin-bottom: 72px;
}

.hero-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-dark);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.308);

}

.hero-title-span {
  color: var(--accet-green);
}


.wrapper-order {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 72px;
}

.hero-arrow {
  fill: var(--accet-green);
}

.hero-order-text {
  z-index: 2;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-dark);
}

.wrapper-order::after {
  position: absolute;
  content: '';
  z-index: 1;
  border-radius: 16px;
  width: 165px;
  height: 92px;
  background: var(--light-accent);
  transform: translate(92%, 0);
}

@media screen and (max-width: 338px) {
  .wrapper-order::after {
    width: 150px;
    transform: translate(92%, 0);
  }
}

.hero-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-transform: uppercase;

}

.hero-descr-span {
  color: var(--accet-green);
}

.hero-wrapper-container-list {
  background: var(--light-grey);
  padding-top: 32px;
  padding-bottom: 32px;

  width: 100vw;
  /* Ширина на всю ширину вікна браузера */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


.hero-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.hero-link {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--text-dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accet-green);
}


/* tablet */
@media screen and (min-width: 768px) {

  .hero-section {
    padding-bottom: 62px;

  }

  .hero-wrapper-down {
    margin-bottom: 80px;
  }

  .hero-container {
    padding-top: 88px;
    background-image: url('/img/hero/decor-tablet.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
    .hero-container {
      background-image: url('/img/hero/decor-tablet@2x.webp');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
    }
  }

  .hero-wrapper-top {
    margin-bottom: 92px;
  }



  .hero-title {
    font-size: 136px;
    line-height: 1.14;
    letter-spacing: 0.01em;
  }

  .hero-order-text {
    font-size: 20px;
    line-height: 1.6;
  }


  .wrapper-order::after {
    width: 261px;
    height: 96px;
    transform: translate(58%, 0);
  }

  .hero-descr {
    font-size: 20px;
    line-height: 1.6;
  }

  .hero-list {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
}

/* desktop */
@media screen and (min-width: 1280px) {

  .hero-title-img {
    display: inline-block;
    margin-left: 10px;

  }

  .hero-image {
    width: 108px;
    height: 108px;
  }

  .hero-section {
    padding-bottom: 40px;
  }

  .hero-container {
    padding-top: 184px;
    background-image: url('/img/hero/decor-desctop.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
    .hero-container {
      background-image: url('/img/hero/decor-desctop@2x.webp');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
    }
  }

  .hero-wrapper-down {
    display: flex;
    justify-content: space-between;
    padding-left: 76px;
    margin-bottom: 132px;
  }

  .hero-descr-wrapper {
    width: 592px;
  }

  .wrapper-order {
    margin-bottom: 0;

  }

  .hero-wrapper-top {
    margin-bottom: 112px;
  }
}