.hero-title {
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-dark);
  font-family: 'Impact', sans-serif;
  margin-bottom: 40px;
}
.hero-title-span {
  color: #00b068;
}
.hero-wrapper {
  background-image: url(../img/background-img/decor-bg-1mob.webp);
  background-size: 351px 469px;
  background-position: top right;
  background-repeat: no-repeat;
}
.hero-dev-img {
  display: none;
}

.hero-icon {
  fill: none;
  stroke-width: 2px;
  stroke: #00b068;
}
.hero-order-link {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: var(--text-dark);
  position: relative;
  z-index: 1;
  margin-bottom: 72px;
  display: inline-block;
}
.hero-order-link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
  background-color: var(--light-accent);
  z-index: -1;
  border-radius: 16px;
  width: 165px;
  height: 92px;
}
.hero-text {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin-bottom: 72px;
}
.hero-text-span {
  color: #00b068;
}
.hero-cover {
  background: var(--light-grey);
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.hero-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  padding: 32px 0px;
  text-align: center;
}

.hero-link {
  text-decoration: none;
  color: var(--text-dark);
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 768px) {
  .hero-wrapper {
    background-image: url(../img/background-img/decor-bg-1tab.webp);
    background-size: 356px 708px;
    background-position: top right;
  }
  .hero-title {
    max-width: 704px;
    text-align: center;
    font-size: 136px;
  }
  .hero-order-link {
    font-size: 20px;
  }
  .hero-text {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 80px;
  }
  .hero-list {
    flex-direction: row;
    gap: 40px;
  }
  .hero-cover {
    height: 104px;
  }
  .hero-order-link::before {
    width: 261px;
    height: 96px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-wrapper {
    background-image: url(../img/background-img/decor-bg-1desc.webp);
    background-size: 1216px 743px;
    background-position: left bottom;
  }
  .hero-dev-img {
    display: inline;
  }
  .hero-img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;
    text-align: left;
  }
  .hero-title {
    font-weight: 400;
    font-size: 124px;
    line-height: 1.14706;
    letter-spacing: 0.01em;
  }
  .hero-wrapper-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 136px;
  }
  .hero-text {
    max-width: 592px;
  }
  .hero-order-link::before {
    top: 50%;
    left: 53%;
    transform: translateY(-53%);
  }
}
