.my-projects-header {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
}

.my-projects-icon-order {
  display: inline-block;
  width: 30px;
  height: 24px;
  stroke: blue;
  fill: transparent;
}