.reviev-not-found-wrapper{
    margin: 0 auto; 
    border: 1px solid #b4b3b3;
    border-radius: 8px;
    padding: 16px;
}


.revievs-not-found{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.08em;
    color: rgb(253, 35, 35);
}


.reviews-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 52px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-dark);
    text-align: center;
    margin-bottom: 40px;

}

.reviews-wrapper{
    margin-bottom: 24px;
}

.reviews-wrapper-cart {
    background-color: var(--light-grey);
    border-radius: 16px;
    padding: 32px;
}

.swiper-slide{
    min-height: 369px !important;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}

.reviews-descr {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.reviews-autor-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.reviews-autor-photo {
    border-radius: 24px;
}

.reviews-autor-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.reviews-arrows {
    display: flex;
    justify-content: end;
    gap: 16px;
}


.reviews-arrow-box-right {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: inherit;
    border: 1px solid var(--light-grey);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-arrow-box-right:disabled {
    border: 1px solid var(--light-grey);
    pointer-events: none;
}

.reviews-arrow-box-right:hover{
    background-color: var(--light-grey);
    border: 1px solid var(--black);
}


.reviews-arrow-box-left {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: inherit;
    border: 1px solid var(--light-grey);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-arrow-box-left:disabled {
    border: 1px solid var(--light-grey);
    pointer-events: none;
}

.reviews-arrow-box-left:hover{
    background-color: var(--light-grey);
    border: 1px solid var(--black);
}






.reviews-arrow-left {
    stroke-width: 2px;
    stroke: var(--text-dark);
}

.reviews-arrow-right {
    transform: rotate(180deg);
    stroke-width: 2px;
    stroke: var(--text-dark);
}



.reviews-arrow-box-left:disabled svg {
    stroke: var(--light-grey);
}



.reviews-arrow-box-right:disabled svg {
    stroke: var(--light-grey);
}



/* tablet */
@media screen and (min-width: 768px) {
.reviews-title{
    font-size: 108px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    margin-bottom: 60px;
    }

    .swiper-slide {
    min-height: 235px !important;
}

.reviev-not-found-wrapper {
    border-radius: 16px;
    padding: 32px;
}


.revievs-not-found {
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: 0.1em;

}


}

/* desktop */
@media screen and (min-width: 1280px) {

  .reviews-title{
    margin-bottom: 80px;
  }

    .reviews-arrow-box-left{
      width: 48px;
      height: 48px;
    }

    .reviews-arrow-box-right{
      width: 48px;
      height: 48px;
    }

  .reviews-wrapper{
    display: flex;
  }
}