.marquee,
.marquee_class {
  overflow: hidden;
}

.marquee {
  color: var(--text-dark);
  background-color: var(--light-accent);
}

.marquee.dark {
  color: var(--white);
  background-color: var(--dark-accet-dt);
}

.marquee_class {
  color: var(--accet-green);
  background-color: var(--light-grey);
}

.marquee_class.dark {
  color: var(--accet-green-dt);
  background-color: var(--charcoal-dt);
}

.m_rotate {
  transform: rotate(2deg);
}

.marquee__inner,
.marquee__inner__2 {
  display: flex;
  padding: 32px;
}

.marquee__line {
  flex-shrink: 0;
  margin: 0;
  min-width: 200%;
  white-space: nowrap;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  animation: marqueeLine 15s linear infinite;
}

.marquee__square__2 {
  font-size: 20px;
  margin: 0 35px;
  vertical-align: middle;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: var(--accet-green);
  border-radius: 2px;
}

.marquee__square__2.dark {
  background: var(--accet-green-dt);
}

.marquee__square {
  font-size: 20px;
  margin: 0 35px;
  vertical-align: middle;
  display: inline-block;
  background: var(--text-dark);
  border-radius: 2px;
  width: 8px;
  height: 8px;
}

.marquee__square.dark {
  background: var(--white);
}

@keyframes marqueeLine {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}


/* tablet */
@media screen and (min-width: 768px) {

.marquee__inner,
  .marquee__inner__2 {
    padding: 40px;
  }

  .marquee__line{
      font-size: 36px;
      line-height: 1.33;
      letter-spacing: 0.01em;

  }
}