.title-work-together {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-dark);
  margin-bottom: 40px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.308);
}

.tech-work-together {
  color: var(--accet-green);
}

.text-work-together {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-dark);
  margin-bottom: 32px;
}

.list-work-together {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-work-together {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--text-dark);

  display: flex;
  align-items: center;
  gap: 16px;
}

.container-icon {
  display: flex;
  gap: 16px;
}

.icon-contacts {
  stroke: var(--accet-green);
  flex-shrink: 0;
}

.link-work-together {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--text-dark);
  transition: color 0.3s ease;
}

.link-work-together:hover,
.link-work-together:focus {
  color: var(--accet-green);
}

.contact-form {
  width: 100%;
  /* height: 208px; */
  margin-top: 40px;
  display: grid;
  position: relative;
}

.contact-input {
  background: var(--light-grey);
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  height: 48px;
  border: none;
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--text-dark);
  outline: none;
}

.contact-input:hover,
.contact-input:focus {
  box-shadow: 1px 1px 3px rgb(169, 169, 169);
}

.contact-input::placeholder {
  color: var(--text-dark);
}

.icon-ok {
  position: absolute;
  right: 17px;
  top: 17px;
  fill: green;
  display: none;
}

.contact-text {
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  height: 128px;
  background: var(--light-grey);
  border: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--text-dark);
  resize: none;
  margin-bottom: 32px;
  outline: none;
}

.contact-text:hover,
.contact-text:focus {
  box-shadow: 1px 1px 3px rgb(169, 169, 169);
}

.contact-text::placeholder {
  color: var(--text-dark);
}

.error-email {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: var(--error);
  margin-top: -28px;
  display: none;
}

.error-message {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: var(--error);
  margin-top: -28px;
  display: none;
}

.send-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--white);
  border-radius: 8px;
  padding: 12px 24px;
  width: 100%;
  height: 48px;
  border: none;
  background-color: var(--accet-green);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-btn:hover,
.send-btn:focus {
  background-color: var(--hover);
}

.modal-window {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-window {
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 328px;
  background-color: var(--mobile-menu-light);
  border: 1px solid var(--text);
  border-radius: 16px;
  padding: 48px 32px;
}

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.modal-close-btn:hover {
  transform: scale(1.1);
}

.modal-close-icon {
  stroke-width: 2px;
  stroke: var(--text-dark);
}

.modal-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--accet-green);
  margin-bottom: 16px;
}

.modal-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-dark);
}

/* TABLET */

@media screen and (min-width: 768px) {
  .decor {
    position: absolute;
    background-size: 100%;
    top: -120px;
    right: 30px;
    width: 336px;
    height: 260px;
    background-image: url('../img/background-img/decor-bg-7tab-1x.webp'),
      url('../img/background-img/decor-bg-7tab-2x.webp');
    background-repeat: no-repeat;
  }

  .title-work-together {
    width: 100%;
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
    text-align: start;
  }

  .text-work-together {
    width: 488px;
    font-size: 20px;
    line-height: 160%;
  }

  .item-work-together {
    margin-right: 16px;
  }

  .list-work-together {
    flex-direction: row;
    gap: 0;
  }

  .work-together-container {
    position: relative;
  }

  .send-btn {
    width: 173px;
  }

  .modal-content {
    border: 1px solid var(--light-grey);
    border-radius: 16px;
    padding: 64px;
    width: 492px;
  }
}

/* DESCTOP */
@media screen and (min-width: 1280px) {
  .decor {
    top: -120px;
    right: 40px;
    width: 526px;
    height: 408px;
    background-image: url('../img/background-img/decor-bg-3.webp');
    background-repeat: no-repeat;
  }

  @media only screen and (-webkit-min-device-pixel-ratio:2),
  only screen and (min-resolution: 192dpi) {
    .decor {
      background-image: url(../img/background-img/decor-bg-3-desk-2x.webp);
    }
  }

  .title-work-together {
    width: 527px;
    margin-bottom: 80px;
  }

  .text-work-together {
    margin-bottom: 120px;
  }

  .list-work-together {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 258px;
  }

  .work-together-container {
    display: flex;
    justify-content: space-between;
  }

  .work-together-right {
    display: flex;
    align-items: end;
  }

  .contact-form {
    width: 592px;
    margin: 0;
  }
}